# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android
.gradle/
local.properties

# iOS
**/ios/Flutter/.last_build_id

# Coverage
coverage/